<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="theme.css">
    <meta charset="UTF-8">
    <title>IRON FORUM</title>
</head>
<body>
{{#username}}
Hello {{.}}!
<form action="/logout" method="post" style="display: inline-block;">
    <button type="submit">Logout</button>

</form>
<br>
<br>
<form action="/create-message" method="post">
    <input type="text" name="message" placeholder="Write your message"/>
    <input type="hidden" name="replyId" value="{{replyId}}"/>
    <button type="submit">Submit</button>
<br>
<br>
{{/username}}

{{^username}}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Enter your name"/>
    <button type="submit">Login</button>
</form>
<br>
{{/username}}

{{#message}}
   <h1>{{author}} : {{text}}</h1>
    {{#isMe}}
    <form action="/delete-message" method="post">
        <input type="hidden" name="id" value="{{id}}"/>
        <button type="submit">Delete</button>
    </form>
    {{/isMe}}
    {{/message}}

{{#messages}}
<a href="/?replyId={{id}}">{{author}}: {{text}}</a><br>
{{/messages}}
</form>

</body>
</html>